<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <div class="header-content">
          <div class="header-content-inner">
            <h1 style="display: inline">The Luge</h1>
             <h4 style="display:inline;font-style: italic">&nbsp; &nbsp; It's fast and smooth as hell</h4>
            <h2> The next generation vaporizer</h2>
            <br/>
            <a pageScroll href="#safety" class="btn btn-outline btn-xl page-scroll">Preorder Now!</a>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="device-container" style="padding-top: 120px; height:300px; ">
          <!-- <div class="device-mockup iphone6_plus portrait white">
            
          </div> -->
          <img src="assets/img/TheLugeNoBackground.png" class="img-responsive" alt="">
        </div>
      </div>
    </div>
  </div>
</header>
