<section id="tech" class="tech">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2>Technology</h2>
          <hr>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="feature-item">
                  <img src="assets/img/Case1.JPG" class="img-responsive" alt="">
                  <h3>Sleek Design</h3>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature-item">
                  <img src="assets/img/Case2.JPG" class="img-responsive" alt="">
                <h3>Micro USB Charger</h3>
              </div>
            </div>
            <div class="col-md-4">
              <div class="feature-item">
                  <img src="assets/img/Pod1.JPG" class="img-responsive" alt="">
                <h3>Proprietary Pod Design</h3>
              </div>
            </div>
           
          </div>
          </div>
      </div>
    </div>
  </div>
</section>
