<section id="contact" class="contact bg-primary">
  <div class="container" style="color: #000428">
    <h2>Contact Us</h2>
   
    <div style="padding-top:30px">
      <h3>Any questions? Shoot us a mail</h3>
      <br/>
      <button type="button" id="submit" name="submit" class="btn btn-primary" >
          <a href='mailto:lugecaffeine@gmail.com?body=""&subject=""'>SEND EMAIL</a>
        </button>
      <ul class="list-inline list-social" style="padding-top:40px">
        <li></li>
        
          <h2>We <i class="fa fa-heart"></i> new friends!</h2>
  
        <li class="social-twitter">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="social-facebook">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="social-google-plus">
          <a href="#">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>