<section id="contact" class="contact bg-primary">
  <div class="container" style="color: #000428">
    <h2>Contact Us</h2>
    <!-- <div style="text-align:center">
        <div class="col-md-5">
          <div class="form-area">
            <form role="form">
              <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
              <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="email" required>
              </div>
              <div class="form-group">
                <input type="phone" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" [(ngModel)]="mobile" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" [(ngModel)]="subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Message" [(ngModel)]="message" maxlength="140"
                  rows="7"></textarea>
              </div>
              <button type="button" id="submit" name="submit" class="btn btn-primary pull-right" (click)="save(name, email, mobile, subject, message)">
                <a href='mailto:lugecaffeine@gmail.com?body=`${message}`&subject=`${subject}`'>SEND EMAIL</a>
              </button>

              

            </form>
          </div>
        </div>
    </div> -->

    <div style="padding-top:30px">
      <h3>Any questions? Shoot us a mail</h3>
      <br/>
      <button type="button" id="submit" name="submit" class="btn btn-primary" (click)="save(name, email, mobile, subject, message)">
          <a href='mailto:lugecaffeine@gmail.com?body=""&subject=""'>SEND EMAIL</a>
        </button>
      <ul class="list-inline list-social" style="padding-top:40px">
        <li></li>
        
          <h2>We <i class="fa fa-heart"></i> new friends!</h2>
  
        <li class="social-twitter">
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="social-facebook">
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="social-google-plus">
          <a href="#">
            <i class="fa fa-google-plus"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>