<section id="faq" class="faq">
  <div class="faq-content">
    <div class="container">
        <div class="col-md-4">
            <h2>Frequently Asked Questions</h2>

        </div>
        <div class="col-md-8" style="color:white; padding-left: 165px; font-size: larger ">
            <h3>Is it FDA regulated?</h3>
            <h4 style="padding-left: 10px"> No caffeine is a dietary supplement so it doesn't have to be regulated</h4>
            <h3>What does it taste like?</h3>
            <h4 style="padding-left: 10px">  Right now, we have only coffee flavor. In the future we hope to expand into more flavors </h4>
            <h3>Can I use your pods in other vaporizers?</h3>
            <h4 style="padding-left: 10px">No. Caffeine vaporization requires much lower heat than any vaporizers in the market can put out.</h4>
        </div>
      <div>

      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>
